fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-dotenv
requests
beautifulsoup4
apscheduler
certifi
cffi
charset-normalizer
cryptography
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
oauthlib
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pyparsing
requests-oauthlib
rsa
typing_extensions
uritemplate
urllib3
httpx
alembic
psycopg2-binary
passlib
bcrypt
python-jose[cryptography]
python-multipart
pyarrow
